@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.base {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  outline: none;
  transition: border-radius 0.5s;
  text-transform: uppercase;
  &:active {
    border-color: #313131;
    background-color: #fff;
    color: #000;
  }
  &:hover{
    border-radius: 15px 225px 15px 255px/255px 15px 225px 15px;
  }
  &:disabled {
    border-color: #a5a5a5;
    background-color: #a5a5a5;
    &:hover {
      border-color: #a5a5a5;
      background-color: #a5a5a5;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;;
    }
  }
}

.primary {
  border: solid 7px #ab3636;
  background-color: #ab3636;
  &:hover {
    border-color: #bb5151;
    background-color: #bb5151;
  }
}

.secondary {
  border: solid 7px #2b3186;
  background-color: #2b3186;
  &:hover {
    border-color: #5159cf;
    background-color: #5159cf;
  }
}